*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.main{
    display: flex;
}

.logo{
    background: aqua;
    height: 58rem;
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
     justify-content: center;
}

.login{
    display: flex;
    flex-wrap: wrap;
}